<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
</head>

<body>
  
  <div id="app1">
      <h1 ref="heading">{{ title }}</h1>
      <button v-on:click="show">Show Paragraph</button>
      <p v-if="showParagraph">This is not always visible</p>
  </div>
  <div id="app2">
      <h1 ref="heading">{{ title }}</h1>
      <button v-on:click="onChange">Show Paragraph</button>
      <p v-if="showParagraph">This is not always visible</p>
      <hello></hello>
  </div>
  <div id="app3">

  </div>
  
 
</body>
<script>
var vm1 = new Vue({
  data: {
    title: 'The VueJS Instance',
    showParagraph: false
  },
  methods: {
    show: function() {
      this.showParagraph = true;
      this.updateTitle('The VueJS Instance (Updated)');
    },
    updateTitle: function(title) {
      this.title = title;
    }
  },
  computed: {
    lowercaseTitle: function() {
      return this.title.toLowerCase();
    }
  },
  watch: {
    title: function(value) {
      alert('Title changed, new value: ' + value);
    }
  }
});
vm1.$mount('#app1');

var vm2 = new Vue({
  el: '#app2',
  data: {
    title: 'The Second Instance',
    showParagraph: false
  },
  methods: {
    show: function() {
      this.showParagraph = true;
      this.updateTitle('The VueJS Instance (Updated)');
    },
    updateTitle: function(title) {
      this.title = title;
    },
    onChange: function() {
      vm1.title = 'Changed!';
    }
  },
  computed: {
    lowercaseTitle: function() {
      return this.title.toLowerCase();
    }
  },
  watch: {
    title: function(value) {
      alert('Title changed, new value: ' + value);
    }
  }
});
var vm3 = new Vue({
  template: '<h1>Hello!</h1>'
})

// vm3.$mount('#app3')
// vm3.$mount() then  document.getElementById('app3').appendChild(vm3.$el) mount manually
</script>

</html>